<header class="app-header">
  <a href="/" class="logo">
    <img src="/images/fj_logo.png" alt="FitJourney Logo" />
  </a>

  <nav class="navbar">
    <% if (user && user.role === 'nutritionist'){ %>
      <a href="/nutritionist-dash" class="<%= activePage === 'dash' ? 'active' : '' %>">Dashboard</a>
      <a href="/create-meal-plan" class="<%= activePage === 'create' ? 'active' : '' %>">Create Plans</a>
      <a href="/clients" class="<%= activePage === 'clients' ? 'active' : '' %>">Clients</a>
      <a href="/nutritionist-plan-meals" class="<%= activePage === 'plans' ? 'active' : '' %>">Plans</a>
      <a href="/regular/profile"><%= user.username %></a>
      <a href="/logout">Logout</a>
    <% } %>

     <% if (user && user.role === 'fit_instructor'){ %>
      <a href="/instructor-dash" class="">Dashboard</a>
      <a href="/create-workout" class="">Create Workout </a>
      <a href="/clients" class="">Clients</a>
      <a href="/my-workouts" class="">Plans</a>
      <a href="/regular/profile"><%= user.username %></a>
      <a href="/logout">Logout</a>
    <% } %>
      <% if (user && user.role === 'admin'){ %>
      <a href="/nutritionist-dash" class="">Dashboard</a>
      <a href="#prof-overview" class="">View Profs </a>
      <a href="#users" class=""> View Clients</a>
      <a href="/instructor-plan-workout" class="">Payments</a>
      <a href="/regular/profile"><%= user.username %></a>
      <a href="/logout">Logout</a>
    <% } %>
  </nav>

  <img src="/images/menu.png" alt="menu" class="hamburger" />
  <img src="/images/close_menu.png" alt="menu_close" class="close" />
</header>
